global_seed: &global_seed 22

weight_reuse: False

noise_config:
  noise_rate: 0.2
  noise_type: 'symmetric'
  seed: *global_seed


# MOG is a synthetic dataset containing a mixutre of multi-modal gaussians
# I used this dataset in most of the experiments since it gives more control over the exepriment.
dataset:
  name: "mog"
  batch_size: 1024
  num_samples: 100000
  num_features: &num_features 512       
  num_classes: &num_classes 30              
  clusters_per_class: 'random' 
  base_cluster_std: 'random'   
  covariance_type: 'full'   
  class_sep: 1.0           
  intra_class_spread: 2.0
  testset_ratio: 0.3
  valset_ratio: 0.0
  seed: *global_seed


model:
  type: 'fc1'
  input_dim: *num_features
  hidden_dims: [
        1,
        2,
        4,
        6,
        8,
        12,
        16,
        18,
        20,
        22,
        24,
        28,
        32,
        36,
        38,
        40,
        42,
        44,
        46,
        48,
        50,
        52,
        54,
        56,
        58,
        60,
        62,
        64,
        68,
        72,
        80,
        96,
        128,
        160,
        192,
        200,
        208,
        216,
        224,
        232,
        240,
        248,
        256,
        264,
        272,
        280,
        288,
        296,
        304,
        312,
        320,
        328,
        336,
        344,
        352,
        360,
        368,
        376,
        384,
        392,
        400,
        416,
        432,
        448,
        464,
        480,
        512,
        768,
        1024,
        2048,
        3072,
        4096,
        8192,
        16384,
        32768,
        65636
    ]
  output_dim: *num_classes
  loss_fn:
    type: 'CE'
  metrics: ['ACC']


trainer:
  max_epochs: 1000
  optimizer_cfg: 
    type: "adam"
    lr: 1.0e-4
    betas: [0.9, 0.999]
  lr_schedule_cfg: null
  early_stopping: False
  validation_freq: 1
  save_best_model: True
  checkpoint_freq: -1
  run_on_gpu: True
  use_amp: True
  log_comet: True
  comet_project_name: 'double-descent-fc1-mog-adam-n20-seed-11'
  seed: *global_seed